[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aclogin = "*"
online-judge-verify-helper = "*"
online-judge-template-generator = "*"
online-judge-tools = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
